body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.glyph-container {
  display:inline;
  position:static;
}

.glyph {
  /*display:grid;*/
  display:block;
  position:static;
}

.base-image {
  position:static;
}

.image {
  position:absolute;
}
